mixin item(title, place, location, from_date, to_date)
  .blocks
    .date
      if from_date
        span= from_date
      if to_date
        span= to_date
    .decorator
    .details
      header
        if title.title
          h3
            a(target="_blank" href=title.url)= title.title
        else
          h3= title
        if place
          span.place= place
        if location
          span.location
            i.fas.fa-map-marker-alt
            = location
      .description
        block
